{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="site-section" id="features" style="padding-top:140px;">
      <div class="container">
        <div class="row">
        
          <div class="col ml-auto">
            <h2 class="mb-4 section-heading text-center">GetVaxxed</h2>
            <p>COVID-19 is such a burden to our life many people died from this virus because of COVID-19 many businesses, lose their job and other grinds are affected.</p>
            <p>A year later vaccines are now available in any country and kudos to all frontliners fighting for the lives to stop this virus. but many people still don't want to be vaccinated because of it's side effects, they are scared that if they will get vaccinated their life will be endanger.</p>
            <p>So our proposed project GetVaxxed is a website that encourage people to get vaccinated in order to protect family and to aware people that COVID-19 Vaccines are effective.</p>
            <p>We want our website to help people to be aware that getting vaccinated is the first step to stop this COVID-19 virus.</p>

            <h2 class="mb-4 section-heading">Features</h2>
            <ul class="list-check list-unstyled mb-5">
              <li>Informative</li>
              <li>Interactive</li>
              <li>User-Friendly</li>
            </ul>
            <p><a href="#" class="btn btn-primary">Learn more</a></p>
          </div>
          
        </div>
      </div>
    </div>

    <div class="container pb-5">
      <div class="row">
        <div class="col-lg-3">
          <div class="feature-v1 d-flex align-items-center">
            <div class="icon-wrap mr-3">
              <span class="flaticon-protection"></span>
            </div>
            <div>
              <h3>Protection</h3>
              <span class="d-block">Do Daily Exercise</span>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="feature-v1 d-flex align-items-center">
            <div class="icon-wrap mr-3">
              <span class="flaticon-patient"></span>
            </div>
            <div>
              <h3>Prevention</h3>
              <span class="d-block">Always Wear Face Mask</span>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="feature-v1 d-flex align-items-center">
            <div class="icon-wrap mr-3">
              <span class="flaticon-hand-sanitizer"></span>
            </div>
            <div>
              <h3>Treatments</h3>
              <span class="d-block">Always wash your hands</span>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="feature-v1 d-flex align-items-center">
            <div class="icon-wrap mr-3">
              <span class="flaticon-virus"></span>
            </div>
            <div>
              <h3>Symptoms</h3>
              <span class="d-block">Be aware to your surroundings</span>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock content%}